body{
    background-color: rgb(39, 6, 116);
    ;
}

h1{
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}


.img1{
    width: 100%;
    height: 100%;
    display: grid;
    
    
    
    
}
.container{
    width: 50%;
    height: 50%;

}

.div1{

    width: 100%;
    height: 100%;
}
